 	body {
	background-image: linear-gradient(#ffcc26,#ffcc26);
	}
	
	.main {
	font-family: Lobster;
	font-size: 20px;
      font-weight: bold;
	text-align: center;	
	color:white;
	}
	.main:hover {
      background-color: black;
    }
	.valami{
		background-color: #990000;
	border:10px solid red;
	border-radius: 30px 30px 30px 30px;
	display :block;
	margin-left: auto;
	margin-right: auto;
	width:500px;
      height:350px;
	box-shadow: 1px 1px 2px black,  0 0 50px red;

	}
	.keszit{
		 transform: translate(80px,-40px) rotate(20deg);
      width:100px;
      height:80px;
      background-color: white;
      position:absolute;
	   border-radius: 10px 10px 10px 10px;
	   font-size: 15px;
	   width: 130px;
	   text-align:center;
	   border:4px solid black;
	}

	ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #990000;
	}
ul::first-letter {
      font-size: 20px;
      font-weight: bold;
    }
	li {
	float: left;
	}

	li a {
	font-family: Lobster;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

	li a:hover {
	background-color: #111;
	}
	
		
	form{
	font-family: Lobster; 
	text-align: center;
	 margin-bottom:10px;
	 padding: 5px;
	margin: 0 auto; 
	width:250px;
	color: white;
	font-size:18px;
	}
        .animation {
	  display :block;
	margin-left: auto;
	margin-right: auto;
          width: 200px;
          height: 200px;
          
          animation-iteration-count: infinite;
          animation-name: pelda2;
          animation-duration: 5s;
          animation-direction: alternate;
      }
	  .active {
  background-color: red;
}
	footer{
		
	}
	
	footer#custom{
		font-size: 15px;
		font-weight: bold;
		color: white;
	}
	
	.centerlogo{
	display :block;
	margin-left: auto;
	margin-right: auto;
	}
	
	.centerdiv {
	margin-left: 150px;
	}
	
	.pizzaplace {
	font-family: Lobster;
	font-weight: bold;
	}
	
	.pizzatitle {
	font-family: Lobster;
	font-size: 50px;
		font-weight: bold;
		color: white;
		vertical-align: center;
	text-align: center;
	box-sizing:content-box;
	border:10px solid #ff0000;

	
	padding:10px 10px 10px 10px;
	margin:10px;
	width:200px;
	height:60px;
	background-color: #990000;
	border-radius: 30px 30px 30px 30px;
	display :block;
	margin-left: auto;
	margin-right: auto;
	}
	.pizzatitle:hover {
      transform: rotate(360deg);
      transition: transform 4s;
	transition-timing-function: linear;
	
	}
	
	.pizzaname {
	font-family: Lobster;	
		font-size: 30px;
		font-weight: bold;
		color: white;
	background-color: #ffa100;
	width: 400px;
	height: 10px;
	}
	
	.pizzasize {
	font-family: Lobster;
	font-size: 30px;
		font-weight: bold;
		color: white;
	text-align: center;
	background-color: #9e3c00;
	width: 200px;
	height: 10px;
	}
	
	.price {
	font-family: Lobster;
	font-size: 20px;
		font-weight: bold;
		color: black;
	text-align: center;
	background-color: #ffc507;
	width: 200px;
	height: 10px;
	}
	
	.ingredients {
	font-size: 20px;
		color: black;
		vertical-align: top;
	background-color: #ffc507;
	width: 400px;
	}
	
	.orderbutton {
	font-family: Lobster;
	font-size: 25px;
		color: white;
	text-align: center;
	background-color: #990000;
	height: 25px;
	}
	
	.orderbutton:hover {
	font-family: Lobster;
	font-size: 25px;
		font-weight: bold;
		color: white;
	text-decoration: underline;
	text-align: center;
	background-color: #111;
	height: 25px;
	}
	
	.background {
	background-image: linear-gradient(#ffcc26,#914a02);
		
	}
	
	.drinkbox {
	border:10px solid #ff0000;
	float: left;
	width: 305px;
	background-color: #990000;
	border-radius: 30px 30px 30px 30px;
	}
	
	.drinksize {
	font-family: Lobster;
	font-size: 30px;
		font-weight: bold;
		color: white;
	text-align: center;
	background-color: #9e3c00;
	width: 300px;
	height: 180px;
	}
	
	.drinkprice {
	font-family: Lobster;
	font-size: 20px;
		font-weight: bold;
		color: black;
	text-align: center;
	background-color: #ffc507;
	width: 300px;
	height: 10px;
	}
	
	.drinkorderbutton {
	font-family: Lobster;
	font-size: 25px;
		color: white;
	text-align: center;
	background-color: #990000;
	height: 40px;
	}
	
	.drinkorderbutton:hover {
	font-family: Lobster;
	font-size: 25px;
		font-weight: bold;
		color: white;
	text-decoration: underline;
	text-align: center;
	background-color: #111;
	height: 40px;
	}
